<div style="width: 300px; margin-bottom: 20px;">
    <h3>Select a city</h3>
    <ng-select (mousedown)="setmore()" #SelectId   name="mySelect"
                [(items)]="items"
                [disabled]="disabled"
                (data)="refreshValue($event)"
                (selected)="selected($event)"
                (removed)="removed($event)"
                (typed)="checkdata($event)"
                placeholder="{{title}}"
                style="display: inline-table; width: 200px"></ng-select>
    <span>
       <button *ngIf="newdata && addFresh" (click)="addnew()" type="button" class="btn btn-primary">
        Add new
       </button>
    </span>
    <!-- <div>
      <button type="button" class="btn btn-primary"
              [(ngModel)]="disabledV" btnCheckbox
              btnCheckboxTrue="1" btnCheckboxFalse="0">
        {{disabled === '1' ? 'Enable' : 'Disable'}}
      </button>
    </div> -->
  </div>